In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('dataset_Fall 2021.csv')
pd.set_option('display.max_columns', None)
df['F30_UPB'] = df['F30_UPB'].fillna(0)
df['F60_UPB'] = df['F60_UPB'].fillna(0)
df['F90_UPB'] = df['F90_UPB'].fillna(0)
df['F120_UPB'] = df['F120_UPB'].fillna(0)
df['F180_UPB'] = df['F180_UPB'].fillna(0)
df.head(10)

C:\Users\Artron\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,LOAN_ID,LAST_DTE,LAST_STAT,ORIG_CHN,SELLER,SERVICER,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,ORIG_DTE,FRST_DTE,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,FTHB_FLG,purpose,PROP_TYP,NUM_UNIT,occ_stat,state,msa,zip_3,mi_pct,F30_DTE,F30_UPB,F60_DTE,F60_UPB,F90_DTE,F90_UPB,F120_DTE,F120_UPB,F180_DTE,F180_UPB,LPI_DTE,FCC_DTE,NET_LOSS,relo_flg
0,100538106880,2002-08-01,P,C,Other,"Citimortgage Asset Management, Inc.",7.750,7.750,60000,109090.91,54366.18,180,2000-02-01,2000-04-01,55,55,1.0,30.0,782.0,NaN,N,C,SF,1,P,NE,36540,680.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N
1,100816784225,2002-09-01,P,B,Other,Other,8.000,8.000,94000,104444.44,91424.13,360,2000-01-01,2000-03-01,90,90,2.0,21.0,680.0,733.0,N,P,SF,1,P,NE,30700,685.0,25.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N
2,101418327775,2001-12-01,P,R,Other,NaN,8.250,8.250,71000,94666.67,66470.38,180,2000-03-01,2000-05-01,75,75,2.0,28.0,680.0,676.0,N,C,SF,1,P,NE,36540,681.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N
3,101451865711,2001-04-01,P,C,"Jpmorgan Chase Bank, Na",NaN,7.875,7.875,76000,85393.26,75142.62,360,1999-12-01,2000-02-01,89,89,1.0,37.0,759.0,NaN,N,P,SF,1,P,NE,30700,685.0,17.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N
4,102292538957,2002-08-01,P,C,"Jpmorgan Chase Bank, Na","Jpmorgan Chase Bank, Na",7.750,7.750,50000,68493.15,48878.37,360,2000-01-01,2000-03-01,73,73,1.0,22.0,781.0,NaN,N,P,SF,1,P,NE,0,689.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N
5,103017851497,2002-02-01,P,R,Other,Other,6.150,6.150,84000,88421.05,81081.54,360,1999-08-01,1999-10-01,95,95,1.0,31.0,728.0,NaN,N,P,SF,1,P,NE,30700,685.0,30.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N
6,103377428206,2001-08-01,P,C,Other,NaN,8.125,8.125,131000,163750.00,129648.79,360,2000-02-01,2000-04-01,80,80,2.0,36.0,757.0,762.0,N,R,SF,1,P,NE,36540,681.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N
7,104323448554,2001-12-01,P,C,"Jpmorgan Chase Bank, Na",NaN,7.375,7.375,253000,361428.57,232794.48,180,1999-12-01,2000-02-01,70,70,2.0,18.0,793.0,NaN,N,R,SF,1,P,NE,30700,685.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N
8,104530159337,2002-12-01,P,C,Amtrust Bank,"Jpmorgan Chase Bank, National Association",8.250,8.250,30000,37500.00,26196.43,180,1999-11-01,2000-01-01,80,80,2.0,24.0,724.0,758.0,N,P,SF,1,P,NE,0,691.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N
9,105575139808,2001-08-01,P,C,Other,NaN,7.750,7.750,217000,228421.05,213504.04,360,1999-12-01,2000-02-01,95,95,2.0,36.0,707.0,706.0,Y,P,SF,1,P,NE,30700,685.0,30.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N

In [3]:
dups = df.pivot_table(index = ['LAST_STAT'], aggfunc ='size')
dups

LAST_STAT
C     70518
D      1758
F      1439
L       114
N        35
P    195446
R       214
S       172
T       273
dtype: int64

In [4]:
POM = df[df['LAST_STAT'] == 'P']
POM['MI'] = POM['orig_rt']/1200
POM['MP'] = POM['orig_amt']*POM['MI']*(((1+POM['MI'])**POM['orig_trm'])/((1+POM['MI'])**POM['orig_trm']-1))

# Calculate the month
POM[["year", "month", "day"]] = POM["LAST_DTE"].str.split("-", expand = True)
POM[["YEAR", "MONTH", "DAY"]] = POM["FRST_DTE"].str.split("-", expand = True)
POM["MONTH"] = pd.to_numeric(POM["MONTH"])
POM["month"] = pd.to_numeric(POM["month"])
POM["YEAR"] = pd.to_numeric(POM["YEAR"])
POM["year"] = pd.to_numeric(POM["year"])
POM['Month'] = (POM['year']-POM['YEAR'])*12+POM['month']-POM['MONTH']
POM.drop(['MONTH','DAY','YEAR','month','day','year'], axis=1, inplace=True)

POM['Amount Received'] = POM['MP']*POM['Month']+POM['LAST_UPB']
POM['Expected Amount Receivable'] = POM['MP']*POM['orig_trm']
POM.head()

<ipython-input-4-07457625a026>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  POM['MI'] = POM['orig_rt']/1200
<ipython-input-4-07457625a026>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  POM['MP'] = POM['orig_amt']*POM['MI']*(((1+POM['MI'])**POM['orig_trm'])/((1+POM['MI'])**POM['orig_trm']-1))
C:\Users\Artron\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
<ipython-input-4-07457625a026>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  POM["MONTH"] = pd.to_numeric(POM["MONTH"])
<ipython-input-4-07457625a026>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  POM["month"] = pd.to_numeric(POM["month"])
<ipython-input-4-07457625a026>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  POM["YEAR"] = pd.to_numeric(POM["YEAR"])
<ipython-input-4-07457625a026>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  POM["year"] = pd.to_numeric(POM["year"])
<ipython-input-4-07457625a026>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  POM['Month'] = (POM['year']-POM['YEAR'])*12+POM['month']-POM['MONTH']
C:\Users\Artron\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-4-07457625a026>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  POM['Amount Received'] = POM['MP']*POM['Month']+POM['LAST_UPB']
<ipython-input-4-07457625a026>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  POM['Expected Amount Receivable'] = POM['MP']*POM['orig_trm']

,LOAN_ID,LAST_DTE,LAST_STAT,ORIG_CHN,SELLER,SERVICER,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,ORIG_DTE,FRST_DTE,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,FTHB_FLG,purpose,PROP_TYP,NUM_UNIT,occ_stat,state,msa,zip_3,mi_pct,F30_DTE,F30_UPB,F60_DTE,F60_UPB,F90_DTE,F90_UPB,F120_DTE,F120_UPB,F180_DTE,F180_UPB,LPI_DTE,FCC_DTE,NET_LOSS,relo_flg,MI,MP,Month,Amount Received,Expected Amount Receivable
0,100538106880,2002-08-01,P,C,Other,"Citimortgage Asset Management, Inc.",7.750,7.750,60000,109090.91,54366.18,180,2000-02-01,2000-04-01,55,55,1.0,30.0,782.0,NaN,N,C,SF,1,P,NE,36540,680.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.006458,564.765452,28,70179.612651,101657.781328
1,100816784225,2002-09-01,P,B,Other,Other,8.000,8.000,94000,104444.44,91424.13,360,2000-01-01,2000-03-01,90,90,2.0,21.0,680.0,733.0,N,P,SF,1,P,NE,30700,685.0,25.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.006667,689.738699,30,112116.290983,248305.931801
2,101418327775,2001-12-01,P,R,Other,NaN,8.250,8.250,71000,94666.67,66470.38,180,2000-03-01,2000-05-01,75,75,2.0,28.0,680.0,676.0,N,C,SF,1,P,NE,36540,681.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.006875,688.799654,19,79557.573427,123983.937726
3,101451865711,2001-04-01,P,C,"Jpmorgan Chase Bank, Na",NaN,7.875,7.875,76000,85393.26,75142.62,360,1999-12-01,2000-02-01,89,89,1.0,37.0,759.0,NaN,N,P,SF,1,P,NE,30700,685.0,17.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.006562,551.052738,14,82857.358333,198378.985694
4,102292538957,2002-08-01,P,C,"Jpmorgan Chase Bank, Na","Jpmorgan Chase Bank, Na",7.750,7.750,50000,68493.15,48878.37,360,2000-01-01,2000-03-01,73,73,1.0,22.0,781.0,NaN,N,P,SF,1,P,NE,0,689.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.006458,358.206123,29,59266.347561,128954.204201

In [5]:
MIP = df[df['LAST_STAT'] == 'C']
MIP['MI'] = MIP['orig_rt']/1200
MIP['MP'] = MIP['orig_amt']*MIP['MI']*(((1+MIP['MI'])**MIP['orig_trm'])/((1+MIP['MI'])**MIP['orig_trm']-1))

# Calculate the month
MIP[["year", "month", "day"]] = MIP["LAST_DTE"].str.split("-", expand = True)
MIP[["YEAR", "MONTH", "DAY"]] = MIP["FRST_DTE"].str.split("-", expand = True)
MIP["MONTH"] = pd.to_numeric(MIP["MONTH"])
MIP["month"] = pd.to_numeric(MIP["month"])
MIP["YEAR"] = pd.to_numeric(MIP["YEAR"])
MIP["year"] = pd.to_numeric(MIP["year"])
MIP['Month'] = (MIP['year']-MIP['YEAR'])*12+MIP['month']-MIP['MONTH']
MIP.drop(['MONTH','DAY','YEAR','month','day','year'], axis=1, inplace=True)

MIP['Amount Received'] = MIP['MP']*MIP['Month']
MIP['Expected Amount Receivable'] = MIP['MP']*MIP['orig_trm']
MIP.head()

<ipython-input-5-77185b3c547a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MIP['MI'] = MIP['orig_rt']/1200
<ipython-input-5-77185b3c547a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MIP['MP'] = MIP['orig_amt']*MIP['MI']*(((1+MIP['MI'])**MIP['orig_trm'])/((1+MIP['MI'])**MIP['orig_trm']-1))
C:\Users\Artron\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
<ipython-input-5-77185b3c547a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MIP["MONTH"] = pd.to_numeric(MIP["MONTH"])
<ipython-input-5-77185b3c547a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MIP["month"] = pd.to_numeric(MIP["month"])
<ipython-input-5-77185b3c547a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MIP["YEAR"] = pd.to_numeric(MIP["YEAR"])
<ipython-input-5-77185b3c547a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MIP["year"] = pd.to_numeric(MIP["year"])
<ipython-input-5-77185b3c547a>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MIP['Month'] = (MIP['year']-MIP['YEAR'])*12+MIP['month']-MIP['MONTH']
C:\Users\Artron\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-5-77185b3c547a>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MIP['Amount Received'] = MIP['MP']*MIP['Month']
<ipython-input-5-77185b3c547a>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MIP['Expected Amount Receivable'] = MIP['MP']*MIP['orig_trm']

,LOAN_ID,LAST_DTE,LAST_STAT,ORIG_CHN,SELLER,SERVICER,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,ORIG_DTE,FRST_DTE,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,FTHB_FLG,purpose,PROP_TYP,NUM_UNIT,occ_stat,state,msa,zip_3,mi_pct,F30_DTE,F30_UPB,F60_DTE,F60_UPB,F90_DTE,F90_UPB,F120_DTE,F120_UPB,F180_DTE,F180_UPB,LPI_DTE,FCC_DTE,NET_LOSS,relo_flg,MI,MP,Month,Amount Received,Expected Amount Receivable
307,269419638854,2021-03-01,C,R,Other,"Wells Fargo Bank, N.A.",6.85,6.85,48000,50526.32,24694.47,360,2000-01-01,2000-03-01,95,95,2.0,32.0,763.0,744.0,N,P,SF,1,P,NE,36540,680.0,30.0,NaN,0.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.005708,314.524422,252,79260.154446,113228.792065
429,332562273135,2021-03-01,C,R,Other,"Wells Fargo Bank, N.A.",6.15,6.15,39000,41052.63,15433.58,360,1999-08-01,1999-10-01,95,95,1.0,13.0,760.0,NaN,N,P,SF,1,P,NE,0,689.0,30.0,2015-05-01,24705.07,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.005125,237.598982,257,61062.938425,85535.633591
474,357196691343,2021-03-01,C,R,Other,"Wells Fargo Bank, N.A.",6.45,6.45,26000,27659.57,12933.47,360,1999-10-01,1999-12-01,94,94,1.0,11.0,744.0,NaN,N,P,SF,1,P,NE,0,690.0,30.0,2006-05-01,23809.05,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.005375,163.483674,255,41688.336880,58854.122654
939,622951816589,2021-03-01,C,C,"Bank Of America, N.A.","Bank of America, N.A.",8.00,8.00,68000,90666.67,37560.54,360,1999-12-01,2000-02-01,75,75,1.0,15.0,723.0,NaN,N,P,SF,1,P,NE,36540,681.0,NaN,NaN,0.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.006667,498.959910,253,126236.857290,179625.567686
1233,785646766339,2021-03-01,C,R,Other,"Wells Fargo Bank, N.A.",6.85,6.85,43000,45744.68,9846.18,360,1999-12-01,2000-02-01,94,94,1.0,28.0,702.0,NaN,N,P,SF,1,P,NE,0,691.0,30.0,2001-09-01,42173.92,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.005708,281.761462,253,71285.649819,101434.126225

In [6]:
DEL_ALL = df[df['LAST_STAT'] == 'D']
DEL_ALL['MI'] = DEL_ALL['orig_rt']/1200
DEL_ALL['MP'] = DEL_ALL['orig_amt']*DEL_ALL['MI']*(((1+DEL_ALL['MI'])**DEL_ALL['orig_trm'])/((1+DEL_ALL['MI'])**DEL_ALL['orig_trm']-1))
DEL_ALL[["YEAR", "MONTH", "DAY"]] = DEL_ALL["FRST_DTE"].str.split("-", expand = True)
DEL_ALL["MONTH"] = pd.to_numeric(DEL_ALL["MONTH"])
DEL_ALL["YEAR"] = pd.to_numeric(DEL_ALL["YEAR"])

DEL_1 = DEL_ALL.loc[(DEL_ALL['F180_UPB'] > 0)]
DEL_2 = DEL_ALL.loc[(DEL_ALL['F180_UPB'] == 0) & (DEL_ALL['F120_UPB']> 0)]
DEL_3 = DEL_ALL.loc[(DEL_ALL['F120_UPB'] == 0) & (DEL_ALL['F90_UPB']> 0)]
DEL_4 = DEL_ALL.loc[(DEL_ALL['F90_UPB'] == 0) & (DEL_ALL['F60_UPB']> 0)]
DEL_5 = DEL_ALL.loc[(DEL_ALL['F60_UPB'] == 0) & (DEL_ALL['F30_UPB']> 0)]


DEL_1[["year", "month", "day"]] = DEL_1["F180_DTE"].str.split("-", expand = True)
DEL_1["month"] = pd.to_numeric(DEL_1["month"])
DEL_1["year"] = pd.to_numeric(DEL_1["year"])
DEL_1['Month'] = (DEL_1['year']-DEL_1['YEAR'])*12+DEL_1['month']-DEL_1['MONTH']
DEL_1['Amount Received'] = DEL_1['MP']*DEL_1['Month']
DEL_1.drop(['MONTH','DAY','YEAR','month','day','year'], axis=1, inplace=True)
DEL_1['Expected Amount Receivable'] = DEL_1['MP']*DEL_1['orig_trm']

DEL_2[["year", "month", "day"]] = DEL_2["F120_DTE"].str.split("-", expand = True)
DEL_2["month"] = pd.to_numeric(DEL_2["month"])
DEL_2["year"] = pd.to_numeric(DEL_2["year"])
DEL_2['Month'] = (DEL_2['year']-DEL_2['YEAR'])*12+DEL_2['month']-DEL_2['MONTH']
DEL_2['Amount Received'] = DEL_2['MP']*DEL_2['Month']
DEL_2.drop(['MONTH','DAY','YEAR','month','day','year'], axis=1, inplace=True)
DEL_2['Expected Amount Receivable'] = DEL_2['MP']*DEL_2['orig_trm']

DEL_3[["year", "month", "day"]] = DEL_3["F90_DTE"].str.split("-", expand = True)
DEL_3["month"] = pd.to_numeric(DEL_3["month"])
DEL_3["year"] = pd.to_numeric(DEL_3["year"])
DEL_3['Month'] = (DEL_3['year']-DEL_3['YEAR'])*12+DEL_3['month']-DEL_3['MONTH']
DEL_3['Amount Received'] = DEL_3['MP']*DEL_3['Month']
DEL_3.drop(['MONTH','DAY','YEAR','month','day','year'], axis=1, inplace=True)
DEL_3['Expected Amount Receivable'] = DEL_3['MP']*DEL_3['orig_trm']

DEL_4[["year", "month", "day"]] = DEL_4["F60_DTE"].str.split("-", expand = True)
DEL_4["month"] = pd.to_numeric(DEL_4["month"])
DEL_4["year"] = pd.to_numeric(DEL_4["year"])
DEL_4['Month'] = (DEL_4['year']-DEL_4['YEAR'])*12+DEL_4['month']-DEL_4['MONTH']
DEL_4['Amount Received'] = DEL_4['MP']*DEL_4['Month']
DEL_4.drop(['MONTH','DAY','YEAR','month','day','year'], axis=1, inplace=True)
DEL_4['Expected Amount Receivable'] = DEL_4['MP']*DEL_4['orig_trm']

DEL_5[["year", "month", "day"]] = DEL_5["F30_DTE"].str.split("-", expand = True)
DEL_5["month"] = pd.to_numeric(DEL_5["month"])
DEL_5["year"] = pd.to_numeric(DEL_5["year"])
DEL_5['Month'] = (DEL_5['year']-DEL_5['YEAR'])*12+DEL_5['month']-DEL_5['MONTH']
DEL_5['Amount Received'] = DEL_5['MP']*DEL_5['Month']
DEL_5.drop(['MONTH','DAY','YEAR','month','day','year'], axis=1, inplace=True)
DEL_5['Expected Amount Receivable'] = DEL_5['MP']*DEL_5['orig_trm']

MERGE = [DEL_1, DEL_2, DEL_3, DEL_4, DEL_5]
DEL = pd.concat(MERGE)
DEL.head(5)
#dup = DEL.pivot_table(index = ['LAST_STAT'], aggfunc ='size')
#dup

<ipython-input-6-675ed8b23572>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_ALL['MI'] = DEL_ALL['orig_rt']/1200
<ipython-input-6-675ed8b23572>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_ALL['MP'] = DEL_ALL['orig_amt']*DEL_ALL['MI']*(((1+DEL_ALL['MI'])**DEL_ALL['orig_trm'])/((1+DEL_ALL['MI'])**DEL_ALL['orig_trm']-1))
C:\Users\Artron\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
<ipython-input-6-675ed8b23572>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_ALL["MONTH"] = pd.to_numeric(DEL_ALL["MONTH"])
<ipython-input-6-675ed8b23572>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_ALL["YEAR"] = pd.to_numeric(DEL_ALL["YEAR"])
C:\Users\Artron\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
<ipython-input-6-675ed8b23572>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_1["month"] = pd.to_numeric(DEL_1["month"])
<ipython-input-6-675ed8b23572>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_1["year"] = pd.to_numeric(DEL_1["year"])
<ipython-input-6-675ed8b23572>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_1['Month'] = (DEL_1['year']-DEL_1['YEAR'])*12+DEL_1['month']-DEL_1['MONTH']
<ipython-input-6-675ed8b23572>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_1['Amount Received'] = DEL_1['MP']*DEL_1['Month']
C:\Users\Artron\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-6-675ed8b23572>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_1['Expected Amount Receivable'] = DEL_1['MP']*DEL_1['orig_trm']
<ipython-input-6-675ed8b23572>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_2["month"] = pd.to_numeric(DEL_2["month"])
<ipython-input-6-675ed8b23572>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_2["year"] = pd.to_numeric(DEL_2["year"])
<ipython-input-6-675ed8b23572>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_2['Month'] = (DEL_2['year']-DEL_2['YEAR'])*12+DEL_2['month']-DEL_2['MONTH']
<ipython-input-6-675ed8b23572>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_2['Amount Received'] = DEL_2['MP']*DEL_2['Month']
<ipython-input-6-675ed8b23572>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_2['Expected Amount Receivable'] = DEL_2['MP']*DEL_2['orig_trm']
<ipython-input-6-675ed8b23572>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_3["month"] = pd.to_numeric(DEL_3["month"])
<ipython-input-6-675ed8b23572>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_3["year"] = pd.to_numeric(DEL_3["year"])
<ipython-input-6-675ed8b23572>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_3['Month'] = (DEL_3['year']-DEL_3['YEAR'])*12+DEL_3['month']-DEL_3['MONTH']
<ipython-input-6-675ed8b23572>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_3['Amount Received'] = DEL_3['MP']*DEL_3['Month']
<ipython-input-6-675ed8b23572>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_3['Expected Amount Receivable'] = DEL_3['MP']*DEL_3['orig_trm']
<ipython-input-6-675ed8b23572>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_4["month"] = pd.to_numeric(DEL_4["month"])
<ipython-input-6-675ed8b23572>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_4["year"] = pd.to_numeric(DEL_4["year"])
<ipython-input-6-675ed8b23572>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_4['Month'] = (DEL_4['year']-DEL_4['YEAR'])*12+DEL_4['month']-DEL_4['MONTH']
<ipython-input-6-675ed8b23572>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_4['Amount Received'] = DEL_4['MP']*DEL_4['Month']
<ipython-input-6-675ed8b23572>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_4['Expected Amount Receivable'] = DEL_4['MP']*DEL_4['orig_trm']
<ipython-input-6-675ed8b23572>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_5["month"] = pd.to_numeric(DEL_5["month"])
<ipython-input-6-675ed8b23572>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_5["year"] = pd.to_numeric(DEL_5["year"])
<ipython-input-6-675ed8b23572>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_5['Month'] = (DEL_5['year']-DEL_5['YEAR'])*12+DEL_5['month']-DEL_5['MONTH']
<ipython-input-6-675ed8b23572>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_5['Amount Received'] = DEL_5['MP']*DEL_5['Month']
<ipython-input-6-675ed8b23572>:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEL_5['Expected Amount Receivable'] = DEL_5['MP']*DEL_5['orig_trm']

,LOAN_ID,LAST_DTE,LAST_STAT,ORIG_CHN,SELLER,SERVICER,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,ORIG_DTE,FRST_DTE,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,FTHB_FLG,purpose,PROP_TYP,NUM_UNIT,occ_stat,state,msa,zip_3,mi_pct,F30_DTE,F30_UPB,F60_DTE,F60_UPB,F90_DTE,F90_UPB,F120_DTE,F120_UPB,F180_DTE,F180_UPB,LPI_DTE,FCC_DTE,NET_LOSS,relo_flg,MI,MP,Month,Amount Received,Expected Amount Receivable
2426,498557205935,2021-03-01,D,B,"Bank Of America, N.A.",Other,8.375,8.375,67000,89333.33,76121.08,360,2000-04-01,2000-06-01,75,75,1.0,NaN,639.0,NaN,N,C,SF,1,P,NE,36540,681.0,NaN,2000-09-01,0.00,2003-02-01,65319.00,2003-03-01,65319.00,2003-04-01,65319.00,2011-01-01,58805.61,NaN,NaN,NaN,N,0.006979,509.248400,127,64674.546837,183329.424105
4200,498936674633,2021-03-01,D,R,Other,Other,8.250,8.250,75000,93750.00,61596.73,360,2000-09-01,2000-10-01,80,80,2.0,44.0,608.0,605.0,N,P,SF,1,P,NE,0,693.0,NaN,2004-07-01,72676.19,2008-07-01,69069.32,2011-06-01,65242.70,2011-07-01,65242.70,2011-10-01,64293.29,NaN,NaN,NaN,N,0.006875,563.449953,132,74375.393801,202841.983094
8483,831800101658,2021-03-01,D,R,First Tennessee Bank National Association,Other,7.750,7.750,46000,48421.05,21283.98,360,2001-01-01,2001-03-01,95,95,1.0,49.0,782.0,NaN,N,P,SF,1,P,NE,36540,681.0,25.0,2004-07-01,43264.49,2011-07-01,36806.95,2020-03-01,21283.98,2020-04-01,21283.98,2020-06-01,21283.98,NaN,NaN,NaN,N,0.006458,329.549633,231,76125.965213,118637.867865
9736,325513679004,2021-03-01,D,B,"Bank Of America, N.A.",Other,7.125,7.125,100000,125000.00,58668.43,360,2001-03-01,2001-05-01,80,80,1.0,40.0,661.0,NaN,N,C,SF,1,P,NE,0,688.0,NaN,2001-11-01,99513.01,2007-06-01,92680.33,2009-12-01,88570.82,2010-01-01,88570.82,2018-10-01,65943.69,NaN,NaN,NaN,N,0.005938,673.718523,209,140807.171370,242538.668388
12416,100118506683,2021-03-01,D,B,"Bank Of America, N.A.",Other,8.500,4.375,115000,121052.63,107017.41,360,2001-06-01,2001-08-01,95,95,1.0,26.0,730.0,NaN,Y,P,SF,1,P,NE,36540,681.0,30.0,2003-11-01,112885.35,2005-05-01,111368.72,2006-10-01,109765.08,2006-11-01,109765.08,2007-01-01,109765.08,NaN,NaN,NaN,N,0.007083,884.250506,65,57476.282898,318330.182204

In [7]:
pdList = [POM, MIP, DEL]
merge_1 = pd.concat(pdList)
merge_1.drop(['Month'], axis=1, inplace=True)
merge_1

,LOAN_ID,LAST_DTE,LAST_STAT,ORIG_CHN,SELLER,SERVICER,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,ORIG_DTE,FRST_DTE,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,FTHB_FLG,purpose,PROP_TYP,NUM_UNIT,occ_stat,state,msa,zip_3,mi_pct,F30_DTE,F30_UPB,F60_DTE,F60_UPB,F90_DTE,F90_UPB,F120_DTE,F120_UPB,F180_DTE,F180_UPB,LPI_DTE,FCC_DTE,NET_LOSS,relo_flg,MI,MP,Amount Received,Expected Amount Receivable
0,100538106880,2002-08-01,P,C,Other,"Citimortgage Asset Management, Inc.",7.750,7.750,60000,109090.91,54366.18,180,2000-02-01,2000-04-01,55,55,1.0,30.0,782.0,NaN,N,C,SF,1,P,NE,36540,680.0,NaN,NaN,0.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.006458,564.765452,70179.612651,101657.781328
1,100816784225,2002-09-01,P,B,Other,Other,8.000,8.000,94000,104444.44,91424.13,360,2000-01-01,2000-03-01,90,90,2.0,21.0,680.0,733.0,N,P,SF,1,P,NE,30700,685.0,25.0,NaN,0.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.006667,689.738699,112116.290983,248305.931801
2,101418327775,2001-12-01,P,R,Other,NaN,8.250,8.250,71000,94666.67,66470.38,180,2000-03-01,2000-05-01,75,75,2.0,28.0,680.0,676.0,N,C,SF,1,P,NE,36540,681.0,NaN,NaN,0.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.006875,688.799654,79557.573427,123983.937726
3,101451865711,2001-04-01,P,C,"Jpmorgan Chase Bank, Na",NaN,7.875,7.875,76000,85393.26,75142.62,360,1999-12-01,2000-02-01,89,89,1.0,37.0,759.0,NaN,N,P,SF,1,P,NE,30700,685.0,17.0,NaN,0.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.006562,551.052738,82857.358333,198378.985694
4,102292538957,2002-08-01,P,C,"Jpmorgan Chase Bank, Na","Jpmorgan Chase Bank, Na",7.750,7.750,50000,68493.15,48878.37,360,2000-01-01,2000-03-01,73,73,1.0,22.0,781.0,NaN,N,P,SF,1,P,NE,0,689.0,NaN,NaN,0.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.006458,358.206123,59266.347561,128954.204201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266099,100205961,2021-03-01,D,C,PennyMac Corp.,PennyMac Corp.,3.375,3.375,397000,431521.74,391840.97,360,2020-05-01,2020-07-01,92,92,1.0,47.0,727.0,NaN,N,R,PU,1,P,NE,30700,685.0,30.0,2021-03-01,391840.97,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.002812,1755.121955,14040.975638,631843.903714
266885,100317007,2021-03-01,D,R,Other,Other,3.125,3.125,464000,610526.32,457125.73,360,2020-04-01,2020-06-01,76,76,1.0,40.0,659.0,NaN,N,R,SF,1,P,NE,36540,681.0,NaN,2020-06-01,464219.69,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.002604,1987.662097,0.000000,715558.354751
267719,100429839,2021-03-01,D,C,Other,Matrix Financial Services Corporation,4.000,4.000,111000,114432.99,109420.99,360,2020-06-01,2020-08-01,97,97,1.0,35.0,728.0,NaN,Y,P,SF,1,P,NE,30700,684.0,35.0,2021-03-01,109420.99,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.003333,529.930978,3709.516846,190775.152068
269041,100626750,2021-03-01,D,R,Other,Other,2.750,2.750,130000,288888.89,124806.09,180,2020-05-01,2020-07-01,45,45,1.0,26.0,761.0,NaN,N,R,SF,1,P,NE,0,689.0,NaN,2020-11-01,127000.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.002292,882.208129,3528.832515,158797.463158
269511,100691463,2021-03-01,D,C,Other,Other,2.750,2.750,295000,546296.30,284307.44,180,2020-05-01,2020-07-01,54,54,2.0,28.0,704.0,739.0,N,R,SF,1,P,NE,30700,683.0,NaN,2020-11-01,290000.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,N,0.002292,2001.933830,8007.735322,360348.089473

In [8]:
SS= df[df['LAST_STAT'] == 'S']
SS.dropna(subset = ["NET_LOSS"], inplace=True)
SS['MI'] = SS['orig_rt']/1200
SS['MP'] = SS['orig_amt']*SS['MI']*(((1+SS['MI'])**SS['orig_trm'])/((1+SS['MI'])**SS['orig_trm']-1))
SS['Amount Received'] = SS['NET_LOSS']+SS['orig_amt']
SS['Expected Amount Receivable'] = SS['MP']*SS['orig_trm']
SS.head(5)

<ipython-input-8-49d57993d94a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SS.dropna(subset = ["NET_LOSS"], inplace=True)
<ipython-input-8-49d57993d94a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SS['MI'] = SS['orig_rt']/1200
<ipython-input-8-49d57993d94a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SS['MP'] = SS['orig_amt']*SS['MI']*(((1+SS['MI'])**SS['orig_trm'])/((1+SS['MI'])**SS['orig_trm']-1))
<ipython-input-8-49d57993d94a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SS['Amount Received'] = SS['NET_LOSS']+SS['orig_amt']
<ipython-input-8-49d57993d94a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SS['Expected Amount Receivable'] = SS['MP']*SS['orig_trm']

,LOAN_ID,LAST_DTE,LAST_STAT,ORIG_CHN,SELLER,SERVICER,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,ORIG_DTE,FRST_DTE,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,FTHB_FLG,purpose,PROP_TYP,NUM_UNIT,occ_stat,state,msa,zip_3,mi_pct,F30_DTE,F30_UPB,F60_DTE,F60_UPB,F90_DTE,F90_UPB,F120_DTE,F120_UPB,F180_DTE,F180_UPB,LPI_DTE,FCC_DTE,NET_LOSS,relo_flg,MI,MP,Amount Received,Expected Amount Receivable
2982,782324057241,2005-11-01,S,R,Bishops Gate Residential Mortgage Trust,Phh Mortgage Corporation,8.375,8.375,101000,106315.79,94904.55,360,2000-05-01,2000-07-01,95,95,2.0,42.0,679.0,737.0,N,P,SF,1,P,NE,0,693.0,25.0,2005-09-01,94904.55,2005-10-01,94904.55,2005-11-01,94904.55,2005-12-01,94904.55,NaN,0.00,2005-08-01,2006-01-01,335.90,N,0.006979,767.672962,101335.90,276362.266189
3587,182066380178,2003-07-01,S,R,Other,Other,8.080,8.080,65000,67010.31,66753.99,360,2000-03-01,2000-05-01,97,97,1.0,44.0,663.0,NaN,N,P,SF,1,P,NE,36540,680.0,30.0,2001-07-01,64619.76,2002-02-01,64331.00,2002-03-01,64331.00,2002-04-01,64331.00,2003-01-01,66753.99,2002-07-01,2003-07-01,877.43,N,0.006733,480.576960,65877.43,173007.705569
4155,477118686906,2002-10-01,S,R,Bishops Gate Residential Mortgage Trust,Phh Mortgage Corporation,8.625,8.625,76000,80000.00,72094.46,180,2000-06-01,2000-08-01,95,95,2.0,34.0,629.0,651.0,N,P,SF,1,P,NE,0,687.0,25.0,2002-01-01,72094.46,2002-02-01,72094.46,2002-03-01,72094.46,2002-04-01,72094.46,2002-06-01,72094.46,2001-12-01,2002-11-01,3206.91,N,0.007188,753.981129,79206.91,135716.603241
7255,278866232061,2011-08-01,S,C,"Flagstar Bank, Fsb","Jpmorgan Chase Bank, National Association",7.375,7.375,256000,269473.68,224589.08,360,2001-02-01,2001-04-01,95,95,2.0,44.0,683.0,688.0,N,P,SF,1,P,NE,36540,681.0,25.0,2001-07-01,0.00,2003-06-01,250945.23,2003-07-01,250945.23,2006-03-01,243108.47,2006-05-01,243108.47,2010-03-01,2011-08-01,-1521.79,N,0.006146,1768.128378,254478.21,636526.216026
8158,690927041410,2005-05-01,S,C,"Citimortgage, Inc.",Other,7.625,7.625,183000,192631.58,180572.48,360,2000-12-01,2001-02-01,95,95,2.0,54.0,721.0,604.0,N,P,SF,1,P,NE,36540,681.0,30.0,2001-03-01,0.00,2002-05-01,180572.48,2002-06-01,180572.48,2002-07-01,180572.48,2002-09-01,180572.48,2002-03-01,2005-06-01,11876.93,N,0.006354,1295.262556,194876.93,466294.520098

In [9]:
TPS = df[df['LAST_STAT'] == 'T']
TPS.dropna(subset = ["NET_LOSS"], inplace=True)
TPS['MI'] = TPS['orig_rt']/1200
TPS['MP'] = TPS['orig_amt']*TPS['MI']*(((1+TPS['MI'])**TPS['orig_trm'])/((1+TPS['MI'])**TPS['orig_trm']-1))
TPS['Amount Received'] = TPS['NET_LOSS']+TPS['orig_amt']
TPS['Expected Amount Receivable'] = TPS['MP']*TPS['orig_trm']
TPS.head(5)

<ipython-input-9-a1b547542eb9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TPS.dropna(subset = ["NET_LOSS"], inplace=True)
<ipython-input-9-a1b547542eb9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TPS['MI'] = TPS['orig_rt']/1200
<ipython-input-9-a1b547542eb9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TPS['MP'] = TPS['orig_amt']*TPS['MI']*(((1+TPS['MI'])**TPS['orig_trm'])/((1+TPS['MI'])**TPS['orig_trm']-1))
<ipython-input-9-a1b547542eb9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TPS['Amount Received'] = TPS['NET_LOSS']+TPS['orig_amt']
<ipython-input-9-a1b547542eb9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TPS['Expected Amount Receivable'] = TPS['MP']*TPS['orig_trm']

,LOAN_ID,LAST_DTE,LAST_STAT,ORIG_CHN,SELLER,SERVICER,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,ORIG_DTE,FRST_DTE,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,FTHB_FLG,purpose,PROP_TYP,NUM_UNIT,occ_stat,state,msa,zip_3,mi_pct,F30_DTE,F30_UPB,F60_DTE,F60_UPB,F90_DTE,F90_UPB,F120_DTE,F120_UPB,F180_DTE,F180_UPB,LPI_DTE,FCC_DTE,NET_LOSS,relo_flg,MI,MP,Amount Received,Expected Amount Receivable
98,153475511754,2004-06-01,T,B,"Jpmorgan Chase Bank, National Association","Jpmorgan Chase Bank, National Association",8.250,8.250,56000,71794.87,48947.94,180,2000-02-01,2000-04-01,78,78,2.0,28.0,653.0,NaN,N,C,SF,1,P,NE,36540,681.0,NaN,2003-07-01,48947.94,2003-08-01,48947.94,2003-09-01,48947.94,2003-10-01,48947.94,2003-12-01,48947.94,2003-06-01,2004-06-01,246.78,N,0.006875,543.278600,56246.78,97790.148066
265,250332558988,2008-02-01,T,R,Other,"Wells Fargo Bank, N.A.",6.150,6.150,44000,55000.00,39168.97,360,1999-09-01,1999-10-01,80,80,2.0,20.0,707.0,673.0,N,P,SF,1,P,NE,24260,688.0,NaN,2005-12-01,40138.52,2006-12-01,39434.83,2007-05-01,39168.97,2007-06-01,39168.97,2007-08-01,39168.97,2007-02-01,2008-02-01,34.50,N,0.005125,268.060390,44034.50,96501.740462
496,369703130138,2005-05-01,T,B,"Jpmorgan Chase Bank, Na","Jpmorgan Chase Bank, Na",8.375,8.375,59000,65555.56,54247.01,360,1999-12-01,2000-02-01,90,90,1.0,43.0,673.0,NaN,N,P,SF,1,P,NE,36540,681.0,17.0,2002-08-01,55757.21,2002-11-01,55645.82,2002-12-01,55645.82,2003-01-01,55645.82,2004-11-01,54442.40,2004-08-01,2005-05-01,-359.01,N,0.006979,448.442621,58640.99,161439.343615
703,469543741901,2003-01-01,T,C,Other,Other,8.375,8.375,102000,145714.29,101003.58,360,2000-01-01,2000-03-01,70,70,1.0,40.0,605.0,NaN,Y,P,SF,1,P,NE,30700,684.0,NaN,2001-04-01,101216.22,2001-08-01,101003.58,2001-09-01,101003.58,2001-10-01,101003.58,2001-12-01,101003.58,2001-06-01,2003-01-01,-745.13,N,0.006979,775.273684,101254.87,279098.526250
1372,873900610558,2002-10-01,T,C,Other,Other,8.000,8.000,85000,116438.36,83454.06,360,1999-12-01,2000-02-01,73,73,2.0,31.0,680.0,706.0,N,R,SF,1,P,NE,36540,681.0,NaN,2000-12-01,84412.25,2002-04-01,83454.06,2002-05-01,83454.06,2002-06-01,83454.06,2002-08-01,83454.06,2002-02-01,2002-10-01,-194.72,N,0.006667,623.699888,84805.28,224531.959607

In [10]:
DIL = df[df['LAST_STAT'] == 'F']
DIL.dropna(subset = ["NET_LOSS"], inplace=True)
DIL['MI'] = DIL['orig_rt']/1200
DIL['MP'] = DIL['orig_amt']*DIL['MI']*(((1+DIL['MI'])**DIL['orig_trm'])/((1+DIL['MI'])**DIL['orig_trm']-1))
DIL['Amount Received'] = DIL['NET_LOSS']+DIL['orig_amt']
DIL['Expected Amount Receivable'] = DIL['MP']*DIL['orig_trm']
DIL.head(5)

<ipython-input-10-cd09e4239d44>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DIL.dropna(subset = ["NET_LOSS"], inplace=True)
<ipython-input-10-cd09e4239d44>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DIL['MI'] = DIL['orig_rt']/1200
<ipython-input-10-cd09e4239d44>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DIL['MP'] = DIL['orig_amt']*DIL['MI']*(((1+DIL['MI'])**DIL['orig_trm'])/((1+DIL['MI'])**DIL['orig_trm']-1))
<ipython-input-10-cd09e4239d44>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DIL['Amount Received'] = DIL['NET_LOSS']+DIL['orig_amt']
<ipython-input-10-cd09e4239d44>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DIL['Expected Amount Receivable'] = DIL['MP']*DIL['orig_trm']

,LOAN_ID,LAST_DTE,LAST_STAT,ORIG_CHN,SELLER,SERVICER,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,ORIG_DTE,FRST_DTE,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,FTHB_FLG,purpose,PROP_TYP,NUM_UNIT,occ_stat,state,msa,zip_3,mi_pct,F30_DTE,F30_UPB,F60_DTE,F60_UPB,F90_DTE,F90_UPB,F120_DTE,F120_UPB,F180_DTE,F180_UPB,LPI_DTE,FCC_DTE,NET_LOSS,relo_flg,MI,MP,Amount Received,Expected Amount Receivable
53,129282521679,2002-04-01,F,R,Bishops Gate Residential Mortgage Trust,NaN,8.125,8.125,33000,43421.05,33240.63,360,1999-12-01,2000-02-01,76,76,1.0,19.0,659.0,NaN,N,R,SF,1,P,NE,36540,681.0,NaN,2000-03-01,0.00,2000-04-01,0.00,2000-05-01,0.00,2000-06-01,0.00,2001-06-01,33240.63,2000-12-01,2002-02-01,10957.89,N,0.006771,245.024070,43957.89,88208.665042
174,190477917759,2004-11-01,F,R,Other,Other,8.500,8.500,45000,57692.31,43157.82,360,2000-01-01,2000-03-01,78,78,1.0,39.0,579.0,NaN,N,R,SF,1,P,NE,36540,681.0,NaN,2003-05-01,43340.13,2003-11-01,43157.82,2003-12-01,43157.82,2004-01-01,43157.82,2004-03-01,43157.82,2003-09-01,2004-07-01,18452.18,N,0.007083,346.011068,63452.18,124563.984341
395,314898269451,2004-04-01,F,C,"Bank Of America, N.A.","Bank Of America, N.A.",8.000,8.000,56000,58947.37,54496.15,360,2000-02-01,2000-04-01,95,95,1.0,35.0,706.0,NaN,N,P,SF,1,P,NE,36540,681.0,30.0,2002-01-01,55008.23,2002-03-01,54965.14,2002-10-01,54679.09,2002-12-01,54679.09,2003-01-01,54679.09,2002-11-01,2004-02-01,8649.85,N,0.006667,410.908161,64649.85,147926.938094
408,322733015583,2004-04-01,F,R,Other,Other,8.000,8.000,114000,120000.00,110218.96,360,1999-12-01,2000-02-01,95,95,2.0,39.0,642.0,568.0,N,P,SF,1,P,NE,0,691.0,30.0,2002-10-01,110793.64,2002-11-01,110793.64,2002-12-01,110793.64,2003-07-01,110218.96,2003-09-01,110218.96,2003-03-01,2004-02-01,488.28,N,0.006667,836.491614,114488.28,301136.981120
475,357323016368,2012-12-01,F,C,Other,"Wells Fargo Bank, N.A.",8.750,8.750,81000,108000.00,69091.55,360,2000-02-01,2000-04-01,75,75,2.0,34.0,587.0,574.0,N,C,SF,1,P,NE,36540,680.0,NaN,2001-07-01,78752.38,2009-01-01,69998.96,2009-06-01,69486.09,2009-10-01,69091.55,2009-12-01,69091.55,2009-06-01,2010-01-01,84562.77,N,0.007292,637.227329,165562.77,229401.838277

In [11]:
NS = df[df['LAST_STAT'] == 'N']
NS.dropna(subset = ["NET_LOSS"], inplace=True)
NS['MI'] = NS['orig_rt']/1200
NS['MP'] = NS['orig_amt']*NS['MI']*(((1+NS['MI'])**NS['orig_trm'])/((1+NS['MI'])**NS['orig_trm']-1))
NS['Amount Received'] = NS['NET_LOSS']+NS['orig_amt']
NS['Expected Amount Receivable'] = NS['MP']*NS['orig_trm']
NS.head(5)

<ipython-input-11-df8ef61984a4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NS.dropna(subset = ["NET_LOSS"], inplace=True)
<ipython-input-11-df8ef61984a4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NS['MI'] = NS['orig_rt']/1200
<ipython-input-11-df8ef61984a4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NS['MP'] = NS['orig_amt']*NS['MI']*(((1+NS['MI'])**NS['orig_trm'])/((1+NS['MI'])**NS['orig_trm']-1))
<ipython-input-11-df8ef61984a4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NS['Amount Received'] = NS['NET_LOSS']+NS['orig_amt']
<ipython-input-11-df8ef61984a4>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NS['Expected Amount Receivable'] = NS['MP']*NS['orig_trm']

,LOAN_ID,LAST_DTE,LAST_STAT,ORIG_CHN,SELLER,SERVICER,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,ORIG_DTE,FRST_DTE,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,FTHB_FLG,purpose,PROP_TYP,NUM_UNIT,occ_stat,state,msa,zip_3,mi_pct,F30_DTE,F30_UPB,F60_DTE,F60_UPB,F90_DTE,F90_UPB,F120_DTE,F120_UPB,F180_DTE,F180_UPB,LPI_DTE,FCC_DTE,NET_LOSS,relo_flg,MI,MP,Amount Received,Expected Amount Receivable
5031,948661436718,2019-11-01,N,C,"Jpmorgan Chase Bank, Na",Other,8.250,2.000,124000,155000.00,137282.80,360,2000-08-01,2000-10-01,80,80,1.0,10.0,648.0,NaN,N,C,SF,1,P,NE,36540,680.0,NaN,2001-06-01,123205.01,2002-06-01,122202.18,2002-07-01,122202.18,2002-08-01,122202.18,2002-10-01,122202.18,2018-10-01,2019-11-01,32009.47,N,0.006875,931.570589,156009.47,335365.412048
23472,608419549468,2018-07-01,N,B,"Bank Of America, N.A.",Ditech Financial Llc,7.375,7.375,66000,69473.68,54573.95,360,2001-12-01,2002-02-01,95,95,1.0,28.0,642.0,NaN,Y,P,MH,1,P,NE,0,692.0,35.0,2004-12-01,64301.57,2006-01-01,63531.38,2015-06-01,52730.72,2015-07-01,52730.72,2017-05-01,54676.74,2017-04-01,2018-07-01,7348.30,N,0.006146,455.845597,73348.30,164104.415069
24153,712904540660,2017-07-01,N,R,Other,"Wells Fargo Bank, N.A.",6.375,6.375,97000,140579.71,15081.56,180,2001-12-01,2002-02-01,69,69,2.0,29.0,674.0,678.0,N,R,SF,1,P,NE,36540,681.0,NaN,2007-05-01,72906.47,2007-06-01,72906.47,2013-04-01,35167.69,2015-02-01,20277.94,2015-05-01,19547.35,2015-05-01,2017-07-01,13772.25,N,0.005313,838.322851,110772.25,150898.113146
30239,241475472525,2018-07-01,N,B,"Flagstar Bank, Fsb",Ditech Financial Llc,6.750,6.750,70000,82352.94,45431.92,300,2002-06-01,2002-08-01,85,85,1.0,63.0,658.0,NaN,N,C,SF,1,P,NE,36540,681.0,25.0,2016-04-01,45884.27,2016-05-01,45884.27,2016-06-01,45884.27,2016-07-01,45884.27,2016-09-01,45884.27,2016-05-01,2018-07-01,10049.52,N,0.005625,483.638068,80049.52,145091.420295
31016,405033379563,2015-12-01,N,B,"Jpmorgan Chase Bank, Na",Other,6.875,5.250,113000,150666.67,115539.86,360,2002-06-01,2002-07-01,75,75,1.0,54.0,627.0,NaN,N,R,SF,1,I,NE,36540,681.0,NaN,2010-07-01,99983.16,2010-11-01,99481.64,2011-04-01,98799.43,2011-05-01,98799.43,2011-07-01,98799.43,2014-09-01,2015-12-01,13785.92,N,0.005729,742.329559,126785.92,267238.641403

In [12]:
pdList_2 = [merge_1, SS, TPS, DIL, NS]
merge_2 = pd.concat(pdList_2)
dups_1 = merge_2.pivot_table(index = ['LAST_STAT'], aggfunc ='size')
#dups_1
merge_2.corr()
#merge_2

,LOAN_ID,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,NUM_UNIT,msa,zip_3,mi_pct,F30_UPB,F60_UPB,F90_UPB,F120_UPB,F180_UPB,NET_LOSS,MI,MP,Amount Received,Expected Amount Receivable
LOAN_ID,1.000000,0.133728,0.133116,-0.071573,-0.065307,-0.094340,-0.008739,-0.001924,0.003621,0.011473,0.002966,-0.019904,-0.018647,0.000772,-0.011986,0.005972,-0.014552,0.008523,-0.000465,-0.001572,-0.000633,0.001982,0.034960,0.133728,-0.030079,0.115727,-0.031278
orig_rt,0.133728,1.000000,0.996112,-0.297929,-0.292785,-0.197209,0.217740,0.032826,0.036526,0.024097,0.123003,-0.321422,-0.314316,0.047750,-0.029592,0.003036,-0.071169,0.028689,0.033026,0.031837,0.035383,0.039629,0.032302,1.000000,-0.183959,0.056652,-0.029160
LAST_RT,0.133116,0.996112,1.000000,-0.297369,-0.291661,-0.196890,0.216166,0.031113,0.034874,0.025156,0.120374,-0.315593,-0.309787,0.047785,-0.029630,0.003185,-0.070899,0.019640,0.016947,0.013682,0.016432,0.021601,-0.012833,0.996112,-0.183812,0.054911,-0.029939
orig_amt,-0.071573,-0.297929,-0.297369,1.000000,0.865136,0.920547,0.179745,0.187453,0.208270,0.172218,0.053137,0.127462,0.122410,-0.043652,0.191684,-0.109395,0.144865,0.095974,0.063310,0.058351,0.049735,0.037464,0.227814,-0.297929,0.897457,0.667543,0.930850
ORIG_VAL,-0.065307,-0.292785,-0.291661,0.865136,1.000000,0.760181,0.020536,-0.231964,-0.192764,0.190319,-0.024017,0.177837,0.188037,-0.035657,0.187724,-0.108460,0.074089,0.055685,0.027490,0.025258,0.019869,0.012992,0.256360,-0.292785,0.833301,0.580279,0.767423
LAST_UPB,-0.094340,-0.197209,-0.196890,0.920547,0.760181,1.000000,0.337840,0.249876,0.268624,0.129541,0.098777,0.069371,0.057660,-0.041081,0.175757,-0.102707,0.178338,0.096094,0.075977,0.072762,0.064375,0.051581,0.251505,-0.197209,0.759840,0.635063,0.918371
orig_trm,-0.008739,0.217740,0.216166,0.179745,0.020536,0.337840,1.000000,0.389132,0.393312,-0.095703,0.160885,-0.083817,-0.095904,-0.001971,0.038145,-0.027249,0.428108,0.073960,0.067337,0.063130,0.058661,0.051321,0.121409,0.217740,-0.148032,0.135819,0.417820
oltv,-0.001924,0.032826,0.031113,0.187453,-0.231964,0.249876,0.389132,1.000000,0.975286,-0.080297,0.179209,-0.164695,-0.205006,-0.023435,-0.029292,0.019039,0.710499,0.079439,0.073746,0.068516,0.063903,0.054874,-0.093724,0.032826,0.059716,0.117113,0.257804
ocltv,0.003621,0.036526,0.034874,0.208270,-0.192764,0.268624,0.393312,0.975286,1.000000,-0.074629,0.185475,-0.165855,-0.207127,-0.026058,-0.017808,0.012509,0.634488,0.081200,0.075778,0.070658,0.066134,0.057126,-0.067655,0.036526,0.081911,0.144046,0.281282
num_bo,0.011473,0.024097,0.025156,0.172218,0.190319,0.129541,-0.095703,-0.080297,-0.074629,1.000000,-0.134105,0.069343,-0.007981,-0.006697,-0.049205,0.018962,-0.000929,-0.032584,-0.038858,-0.035851,-0.035288,-0.035603,0.073454,0.024097,0.216704,0.178997,0.158760
dti,0.002966,0.123003,0.120374,0.053137,-0.024017,0.098777,0.160885,0.179209,0.185475,-0.134105,1.000000,-0.218328,-0.223995,0.021408,0.032057,-0.015183,0.025540,0.090901,0.085996,0.079034,0.073944,0.064778,0.042667,0.123003,0.025097,0.050945,0.114571
CSCORE_B,-0.019904,-0.321422,-0.315593,0.127462,0.177837,0.069371,-0.083817,-0.164695,-0.165855,0.069343,-0.218328,1.000000,0.744329,0.000637,0.041185,-0.017946,0.038693,-0.182325,-0.160237,-0.142615,-0.133703,-0.120882,-0.035285,-0.321422,0.094822,0.025086,0.037085
CSCORE_C,-0.018647,-0.314316,-0.309787,0.122410,0.188037,0.057660,-0.095904,-0.205006,-0.207127,-0.007981,-0.223995,0.744329,1.000000,0.001386,0.054620,-0.034388,0.019080,-0.171095,-0.147933,-0.132883,-0.123801,-0.108472,-0.059372,-0.314316,0.100648,0.027766,0.029504
NUM_UNIT,0.000772,0.047750,0.047785,-0.043652,-0.035657,-0.041081,-0.001971,-0.023435,-0.026058,-0.006697,0.021408,0.000637,0.001386,1.000000,0.004038,0.007884,-0.026669,0.001592,-0.000442,-0.000570,-0.000353,0.000280,0.035476,0.047750,-0.035224,-0.024774,-0.034032
msa,-0.011986,-0.029592,-0.029630,0.191684,0.187724,0.175757,0.038145,-0.029292,-0.017808,-0.049205,0.032057,0.041185,0.054620,0.004038,1.000000,-0.420957,-0.008117,0.015590,0.009294,0.009173,0.010592,0.010288,0.038722,-0.029592,0.185059,0.146863,0.190170
zip_3,0.005972,0.003036,0.003185,-0.109395,-0.108460,-0.102707,-0.027249,0.019039,0.012509,0.018962,-0.015183,-0.017946,-0.034388,0.007884,-0.420957,1.000000,-0.007558,-0.011797,-0.005324,-0.005118,-0.005298,-0.005014,-0.047891,0.003036,-0.105229,-0.087868,-0.111741
mi_pct,-0.014552,-0.071169,-0.070899,0.144865,0.074089,0.178338,0.428108,0.710499,0.634488,-0.000929,0.025540,0.038693,0.019080,-0.026669,-0.008117,-0.007558,1.000000,0.018169,0.019250,0.019607,0.016741,0.011893,-0.199839,-0.071169,0.011881,0.054585,0.186093
F30_UPB,0.008523,0.028689,0.019640,0.095974,0.055685,0.096094,0.073960,0.079439,0.081200,-0.032584,0.090901,-0.182325,-0.171095,0.001592,0.015590,-0.011797,0.018169,1.000000,0.601481,0.529829,0.469628,0.389538,0.193828,0.028689,0.074269,0.059014,0.117635
F60_UPB,-0.000465,0.033026,0.016947,0.063310,0.027490,0.075977,0.067337,0.073746,0.075778,-0.038858,0.085996,-0.160237,-0.147933,-0.000442,0.009294,-0.005324,0.019250,0.601481,1.000000,0.876994,0.781621,0.651554,0.241907,0.033026,0.044392,0.012316,0.086998
F90_UPB,-0.001572,0.031837,0.013682,0.058351,0.025258,0.072762,0.063130,0.068516,0.070658,-0.035851,0.079034,-0.142615,-0.132883,-0.000570,0.009173,-0.005118,0.019607,0.529829,0.876994,1.000000,0.892366,0.743593,0.254095,0.031837,0.040911,0.006559,0.081124
F120_UPB,-0.000633,0.035383,0.016432,0.049735,0.019869,0.064375,0.058661,0.063903,0.066134,-0.035288,0.073944,-0.133703,-0.123801,-0.000353,0.010592,-0.005298,0.016741,0.469628,0.781621,0.892366,1.000000,0.833518,0.251585,0.035383,0.035477,0.003877,0.072575
F180_UPB,0.001982,0.039629,0.021601,0.037464,0.012992,0.051581,0.051321,0.054874,0.057126,-0.035603,0.064778,-0.120882,-0.108472,0.000280,0.010288,-0.005014,0.011893,0.389538,0.651554,0.743593,0.833518,1.000000,0.262326,0.039629,0.027676,0.001935,0.059914
NET_LOSS,0.034960,0.032302,-0.012833,0.227814,0.256360,0.251505,0.121409,-0.093724,-0.067655,0.073454,0.042667,-0.035285,-0.059372,0.035476,0.038722,-0.047891,-0.199839,0.193828,0.241907,0.254095,0.251585,0.262326,1.000000,0.032302,0.219981,0.552583,0.249841
MI,0.133728,1.000000,0.996112,-0.297929,-0.292785,-0.197209,0.217740,0.032826,0.036526,0.024097,0.123003,-0.321422,-0.314316,0.047750,-0.029592,0.003036,-0.071169,0.028689,0.033026,0.031837,0.035383,0.039629,0.032302,1.000000,-0.183959,0.056652,-0.029160
MP,-0.030079,-0.183959,-0.183812,0.897457,0.833301,0.759840,-0.148032,0.059716,0.081911,0.216704,0.025097,0.094822,0.100648,-0.035224,0.185059,-0.105229,0.011881,0.074269,0.044392,0.040911,0.035477,0.027676,0.219981,-0.183959,1.000000,0.665537,0.787484
Amount Received,0.115727,0.056652,0.054911,0.667543,0.580279,0.635063,0.135819,0.117113,0.144046,0.178997,0.050945,0.025086,0.027766,-0.024774,0.146863,-0.087868,0.054585,0.059014,0.012316,0.006559,0.003877,0.001935,0.552583,0.056652,0.665537,1.000000,0.704218
Expected Amount Receivable,-0.031278,-0.029160,-0.029939,0.930850,0.767423,0.918371,0.417820,0.257804,0.281282,0.158760,0.114571,0.037085,0.029504,-0.034032,0.190170,-0.111741,0.186093,0.117635,0.086998,0.081124,0.072575,0.059914,0.249841,-0.029160,0.787484,0.704218,1.000000

In [13]:
RP = df[df['LAST_STAT'] == 'R']
RP['MI'] = RP['orig_rt']/1200
RP['MP'] = RP['orig_amt']*RP['MI']*(((1+RP['MI'])**RP['orig_trm'])/((1+RP['MI'])**RP['orig_trm']-1))

# Calculate the month
RP[["year", "month", "day"]] = RP["LAST_DTE"].str.split("-", expand = True)
RP[["YEAR", "MONTH", "DAY"]] = RP["FRST_DTE"].str.split("-", expand = True)
RP["MONTH"] = pd.to_numeric(RP["MONTH"])
RP["month"] = pd.to_numeric(RP["month"])
RP["YEAR"] = pd.to_numeric(RP["YEAR"])
RP["year"] = pd.to_numeric(RP["year"])
RP['Month'] = (RP['year']-RP['YEAR'])*12+RP['month']-RP['MONTH']
RP.drop(['MONTH','DAY','YEAR','month','day','year'], axis=1, inplace=True)

RP['Amount Received'] = RP['MP']*RP['Month']
RP['Expected Amount Receivable'] = RP['MP']*RP['orig_trm']
RP.drop(['Month'], axis=1, inplace=True)
RP.head()

<ipython-input-13-3b3528bde7af>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RP['MI'] = RP['orig_rt']/1200
<ipython-input-13-3b3528bde7af>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RP['MP'] = RP['orig_amt']*RP['MI']*(((1+RP['MI'])**RP['orig_trm'])/((1+RP['MI'])**RP['orig_trm']-1))
C:\Users\Artron\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
<ipython-input-13-3b3528bde7af>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RP["MONTH"] = pd.to_numeric(RP["MONTH"])
<ipython-input-13-3b3528bde7af>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RP["month"] = pd.to_numeric(RP["month"])
<ipython-input-13-3b3528bde7af>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RP["YEAR"] = pd.to_numeric(RP["YEAR"])
<ipython-input-13-3b3528bde7af>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RP["year"] = pd.to_numeric(RP["year"])
<ipython-input-13-3b3528bde7af>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RP['Month'] = (RP['year']-RP['YEAR'])*12+RP['month']-RP['MONTH']
C:\Users\Artron\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-13-3b3528bde7af>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RP['Amount Received'] = RP['MP']*RP['Month']
<ipython-input-13-3b3528bde7af>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RP['Expected Amount Receivable'] = RP['MP']*RP['orig_trm']

,LOAN_ID,LAST_DTE,LAST_STAT,ORIG_CHN,SELLER,SERVICER,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,ORIG_DTE,FRST_DTE,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,FTHB_FLG,purpose,PROP_TYP,NUM_UNIT,occ_stat,state,msa,zip_3,mi_pct,F30_DTE,F30_UPB,F60_DTE,F60_UPB,F90_DTE,F90_UPB,F120_DTE,F120_UPB,F180_DTE,F180_UPB,LPI_DTE,FCC_DTE,NET_LOSS,relo_flg,MI,MP,Amount Received,Expected Amount Receivable
253,239331125631,2005-07-01,R,C,"Jpmorgan Chase Bank, Na","Jpmorgan Chase Bank, Na",7.500,7.500,40000,173913.04,663.52,180,1999-12-01,2000-02-01,23,23,1.0,24.0,804.0,NaN,Y,P,SF,1,P,NE,36540,681.0,NaN,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,NaN,NaN,N,0.006250,370.804944,24102.321360,66744.889920
284,259549040088,2003-01-01,R,R,Other,Other,9.750,9.750,23000,23711.34,22713.12,360,1999-11-01,2000-01-01,97,97,1.0,51.0,580.0,NaN,N,P,SF,1,P,NE,36540,681.0,30.0,2002-02-01,22852.07,2002-10-01,22713.12,2002-12-01,22713.12,2002-12-01,22713.12,NaN,0.00,NaN,NaN,NaN,N,0.008125,197.605515,7113.798532,71137.985318
1522,957552091624,2004-01-01,R,R,Other,Other,6.450,6.450,78000,97500.00,1956.03,360,1999-10-01,1999-12-01,80,80,1.0,21.0,780.0,NaN,N,P,SF,1,P,NE,30700,685.0,NaN,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,NaN,NaN,N,0.005375,490.451022,24032.100084,176562.367962
1874,221554261360,2002-01-01,R,R,Other,Other,9.500,9.500,50000,51546.39,49693.56,360,2000-03-01,2000-05-01,97,97,2.0,47.0,620.0,629.0,N,P,SF,1,P,NE,0,691.0,30.0,2001-06-01,49783.90,2001-10-01,49693.56,2001-11-01,49693.56,2001-12-01,49693.56,NaN,0.00,NaN,NaN,NaN,N,0.007917,420.427104,8408.542072,151353.757292
2409,490466528117,2007-05-01,R,B,"Jpmorgan Chase Bank, Na","Jpmorgan Chase Bank, Na",8.125,8.125,39000,75000.00,33339.59,240,2000-03-01,2000-05-01,52,52,2.0,17.0,718.0,718.0,N,C,SF,1,P,NE,30700,685.0,NaN,2004-07-01,34865.98,2005-12-01,33339.59,2006-01-01,33339.59,2006-02-01,33339.59,2006-04-01,33339.59,NaN,NaN,NaN,N,0.006771,329.252130,27657.178906,79020.511159

In [14]:
RLS = df[df['LAST_STAT'] == 'L']
RLS['MI'] = RLS['orig_rt']/1200
RLS['MP'] = RLS['orig_amt']*RLS['MI']*(((1+RLS['MI'])**RLS['orig_trm'])/((1+RLS['MI'])**RLS['orig_trm']-1))

# Calculate the month
RLS[["year", "month", "day"]] = RLS["LAST_DTE"].str.split("-", expand = True)
RLS[["YEAR", "MONTH", "DAY"]] = RLS["FRST_DTE"].str.split("-", expand = True)
RLS["MONTH"] = pd.to_numeric(RLS["MONTH"])
RLS["month"] = pd.to_numeric(RLS["month"])
RLS["YEAR"] = pd.to_numeric(RLS["YEAR"])
RLS["year"] = pd.to_numeric(RLS["year"])
RLS['Month'] = (RLS['year']-RLS['YEAR'])*12+RLS['month']-RLS['MONTH']
RLS.drop(['MONTH','DAY','YEAR','month','day','year'], axis=1, inplace=True)

RLS['Amount Received'] = RLS['MP']*RLS['Month']
RLS['Expected Amount Receivable'] = RLS['MP']*RLS['orig_trm']
RLS.drop(['Month'], axis=1, inplace=True)
RLS.head(5)

<ipython-input-14-f1628ce0faa4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RLS['MI'] = RLS['orig_rt']/1200
<ipython-input-14-f1628ce0faa4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RLS['MP'] = RLS['orig_amt']*RLS['MI']*(((1+RLS['MI'])**RLS['orig_trm'])/((1+RLS['MI'])**RLS['orig_trm']-1))
C:\Users\Artron\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
<ipython-input-14-f1628ce0faa4>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RLS["MONTH"] = pd.to_numeric(RLS["MONTH"])
<ipython-input-14-f1628ce0faa4>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RLS["month"] = pd.to_numeric(RLS["month"])
<ipython-input-14-f1628ce0faa4>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RLS["YEAR"] = pd.to_numeric(RLS["YEAR"])
<ipython-input-14-f1628ce0faa4>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RLS["year"] = pd.to_numeric(RLS["year"])
<ipython-input-14-f1628ce0faa4>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RLS['Month'] = (RLS['year']-RLS['YEAR'])*12+RLS['month']-RLS['MONTH']
C:\Users\Artron\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-14-f1628ce0faa4>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RLS['Amount Received'] = RLS['MP']*RLS['Month']
<ipython-input-14-f1628ce0faa4>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RLS['Expected Amount Receivable'] = RLS['MP']*RLS['orig_trm']

,LOAN_ID,LAST_DTE,LAST_STAT,ORIG_CHN,SELLER,SERVICER,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,ORIG_DTE,FRST_DTE,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,FTHB_FLG,purpose,PROP_TYP,NUM_UNIT,occ_stat,state,msa,zip_3,mi_pct,F30_DTE,F30_UPB,F60_DTE,F60_UPB,F90_DTE,F90_UPB,F120_DTE,F120_UPB,F180_DTE,F180_UPB,LPI_DTE,FCC_DTE,NET_LOSS,relo_flg,MI,MP,Amount Received,Expected Amount Receivable
2030,298413197250,2018-10-01,L,R,Other,"Wells Fargo Bank, N.A.",6.850,5.125,53000,66250.00,35944.74,360,2000-03-01,2000-04-01,80,80,1.0,33.0,754.0,NaN,N,P,SF,1,P,NE,0,680.0,NaN,2004-11-01,50302.32,2005-01-01,50240.86,2009-03-01,45775.47,2009-04-01,45775.47,2009-06-01,45775.47,NaN,NaN,NaN,N,0.005708,347.287383,77097.799042,125023.457905
3909,342611175929,2019-12-01,L,B,"Jpmorgan Chase Bank, Na","Wells Fargo Bank, N.A.",9.500,9.500,63000,66315.79,42269.79,360,2000-06-01,2000-07-01,95,95,1.0,24.0,568.0,NaN,N,P,SF,1,P,NE,0,680.0,30.0,2001-02-01,62461.78,2001-08-01,62295.52,2001-09-01,62295.52,2001-10-01,62295.52,NaN,0.00,NaN,NaN,NaN,N,0.007917,529.738151,123428.989072,190705.734188
7763,488152397236,2019-12-01,L,C,"Jpmorgan Chase Bank, Na","Wells Fargo Bank, N.A.",8.250,8.250,63000,70000.00,54581.13,360,2000-10-01,2000-12-01,90,90,2.0,18.0,587.0,NaN,N,C,SF,1,P,NE,36540,681.0,25.0,2004-01-01,61263.02,2004-09-01,60890.59,2004-10-01,60890.59,2004-11-01,60890.59,NaN,0.00,NaN,NaN,NaN,N,0.006875,473.297961,107911.935006,170387.265799
10840,612030124753,2020-11-01,L,C,"Jpmorgan Chase Bank, Na",Other,6.250,6.250,147000,183750.00,124734.90,360,2001-03-01,2001-05-01,80,80,2.0,39.0,616.0,NaN,N,C,SF,1,P,NE,24260,686.0,NaN,2006-07-01,136153.44,2010-10-01,124749.20,2011-08-01,122344.30,2011-09-01,122344.30,2011-11-01,122344.30,NaN,NaN,NaN,N,0.005208,905.104285,211794.402603,325837.542466
11756,834217128416,2020-04-01,L,B,"Flagstar Bank, Fsb","Jpmorgan Chase Bank, Na",7.875,7.875,205000,320312.50,128300.48,360,2001-02-01,2001-04-01,64,64,2.0,39.0,586.0,617.0,N,R,SF,1,P,NE,36540,681.0,NaN,2001-11-01,203580.84,2001-12-01,203580.84,2002-01-01,203580.84,2002-02-01,203580.84,2002-04-01,203580.84,NaN,NaN,NaN,N,0.006562,1486.392254,338897.433894,535101.211412

In [15]:
pdList_3 = [merge_2, RP, RLS]
merge_3 = pd.concat(pdList_3)
Final_Data = merge_3
dups_2 = Final_Data.pivot_table(index = ['LAST_STAT'], aggfunc ='size')
#dups_2
Final_Data.corr()
#merge_3

,LOAN_ID,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,NUM_UNIT,msa,zip_3,mi_pct,F30_UPB,F60_UPB,F90_UPB,F120_UPB,F180_UPB,NET_LOSS,MI,MP,Amount Received,Expected Amount Receivable
LOAN_ID,1.000000,0.133561,0.132965,-0.071577,-0.065292,-0.094316,-0.008705,-0.001883,0.003659,0.011456,0.002985,-0.020016,-0.018720,0.000729,-0.011862,0.005970,-0.014661,0.008494,-0.000300,-0.001372,-0.000449,0.002240,0.034960,0.133561,-0.030128,0.115691,-0.031281
orig_rt,0.133561,1.000000,0.995749,-0.298038,-0.292861,-0.197468,0.217842,0.033075,0.036750,0.023854,0.123212,-0.322126,-0.314591,0.047708,-0.029594,0.003018,-0.070633,0.029725,0.034846,0.034006,0.037728,0.041819,0.032302,1.000000,-0.184052,0.056244,-0.029246
LAST_RT,0.132965,0.995749,1.000000,-0.297410,-0.291604,-0.197134,0.216133,0.031146,0.034886,0.025075,0.120385,-0.315782,-0.309752,0.047742,-0.029641,0.003192,-0.070575,0.019949,0.017594,0.014403,0.017175,0.022061,-0.012833,0.995749,-0.183874,0.054569,-0.030078
orig_amt,-0.071577,-0.298038,-0.297410,1.000000,0.865058,0.920561,0.179627,0.187319,0.208153,0.172254,0.053031,0.127681,0.122499,-0.043677,0.191690,-0.109473,0.144731,0.095898,0.063029,0.057892,0.049305,0.037262,0.227814,-0.298038,0.897501,0.667019,0.930841
ORIG_VAL,-0.065292,-0.292861,-0.291604,0.865058,1.000000,0.760124,0.020433,-0.232060,-0.192871,0.190276,-0.024051,0.178002,0.188188,-0.035652,0.187751,-0.108538,0.074001,0.055583,0.027197,0.024743,0.019371,0.012704,0.256360,-0.292861,0.833217,0.579804,0.767339
LAST_UPB,-0.094316,-0.197468,-0.197134,0.920561,0.760124,1.000000,0.337730,0.249791,0.268551,0.129544,0.098718,0.069546,0.057780,-0.041115,0.175728,-0.102768,0.178248,0.095981,0.075713,0.072336,0.063986,0.051452,0.251505,-0.197468,0.759897,0.634463,0.918345
orig_trm,-0.008705,0.217842,0.216133,0.179627,0.020433,0.337730,1.000000,0.389194,0.393367,-0.095703,0.161016,-0.084082,-0.096082,-0.002012,0.038144,-0.027282,0.428029,0.074189,0.067919,0.063790,0.059377,0.051989,0.121409,0.217842,-0.147977,0.135483,0.417692
oltv,-0.001883,0.033075,0.031146,0.187319,-0.232060,0.249791,0.389194,1.000000,0.975298,-0.080241,0.179240,-0.164868,-0.205282,-0.023527,-0.029404,0.019081,0.710443,0.079754,0.074249,0.069167,0.064614,0.055587,-0.093724,0.033075,0.059693,0.116841,0.257735
ocltv,0.003659,0.036750,0.034886,0.208153,-0.192871,0.268551,0.393367,0.975298,1.000000,-0.074578,0.185492,-0.166011,-0.207379,-0.026129,-0.017910,0.012546,0.634494,0.081535,0.076385,0.071348,0.066876,0.057821,-0.067655,0.036750,0.081903,0.143781,0.281226
num_bo,0.011456,0.023854,0.025075,0.172254,0.190276,0.129544,-0.095703,-0.080241,-0.074578,1.000000,-0.134120,0.069602,-0.007869,-0.006703,-0.049132,0.018930,-0.000801,-0.032690,-0.039208,-0.036197,-0.035646,-0.035752,0.073454,0.023854,0.216698,0.179006,0.158749
dti,0.002985,0.123212,0.120385,0.053031,-0.024051,0.098718,0.161016,0.179240,0.185492,-0.134120,1.000000,-0.218460,-0.224174,0.021421,0.032029,-0.015187,0.025738,0.091250,0.086721,0.079731,0.074711,0.065580,0.042667,0.123212,0.025004,0.050492,0.114546
CSCORE_B,-0.020016,-0.322126,-0.315782,0.127681,0.178002,0.069546,-0.084082,-0.164868,-0.166011,0.069602,-0.218460,1.000000,0.744449,0.000647,0.041245,-0.017983,0.038237,-0.183358,-0.162245,-0.145141,-0.136462,-0.123613,-0.035285,-0.322126,0.094947,0.025639,0.037078
CSCORE_C,-0.018720,-0.314591,-0.309752,0.122499,0.188188,0.057780,-0.096082,-0.205282,-0.207379,-0.007869,-0.224174,0.744449,1.000000,0.001524,0.054747,-0.034514,0.018811,-0.172022,-0.149644,-0.134960,-0.126050,-0.110628,-0.059372,-0.314591,0.100681,0.028180,0.029467
NUM_UNIT,0.000729,0.047708,0.047742,-0.043677,-0.035652,-0.041115,-0.002012,-0.023527,-0.026129,-0.006703,0.021421,0.000647,0.001524,1.000000,0.003943,0.007955,-0.026977,0.001495,-0.000539,-0.000668,-0.000455,0.000207,0.035476,0.047708,-0.035263,-0.024985,-0.034078
msa,-0.011862,-0.029594,-0.029641,0.191690,0.187751,0.175728,0.038144,-0.029404,-0.017910,-0.049132,0.032029,0.041245,0.054747,0.003943,1.000000,-0.421172,-0.008373,0.015727,0.009299,0.009208,0.010600,0.010329,0.038722,-0.029594,0.185052,0.146900,0.190175
zip_3,0.005970,0.003018,0.003192,-0.109473,-0.108538,-0.102768,-0.027282,0.019081,0.012546,0.018930,-0.015187,-0.017983,-0.034514,0.007955,-0.421172,1.000000,-0.007490,-0.011871,-0.005388,-0.005236,-0.005442,-0.005096,-0.047891,0.003018,-0.105302,-0.087924,-0.111823
mi_pct,-0.014661,-0.070633,-0.070575,0.144731,0.074001,0.178248,0.428029,0.710443,0.634494,-0.000801,0.025738,0.038237,0.018811,-0.026977,-0.008373,-0.007490,1.000000,0.018295,0.019566,0.019970,0.017169,0.012484,-0.199839,-0.070633,0.011950,0.054203,0.186020
F30_UPB,0.008494,0.029725,0.019949,0.095898,0.055583,0.095981,0.074189,0.079754,0.081535,-0.032690,0.091250,-0.183358,-0.172022,0.001495,0.015727,-0.011871,0.018295,1.000000,0.602698,0.531645,0.471924,0.391905,0.193828,0.029725,0.074598,0.058756,0.117856
F60_UPB,-0.000300,0.034846,0.017594,0.063029,0.027197,0.075713,0.067919,0.074249,0.076385,-0.039208,0.086721,-0.162245,-0.149644,-0.000539,0.009299,-0.005388,0.019566,0.602698,1.000000,0.877590,0.783196,0.653359,0.241907,0.034846,0.044466,0.011919,0.087419
F90_UPB,-0.001372,0.034006,0.014403,0.057892,0.024743,0.072336,0.063790,0.069167,0.071348,-0.036197,0.079731,-0.145141,-0.134960,-0.000668,0.009208,-0.005236,0.019970,0.531645,0.877590,1.000000,0.893628,0.745311,0.254095,0.034006,0.040874,0.006207,0.081469
F120_UPB,-0.000449,0.037728,0.017175,0.049305,0.019371,0.063986,0.059377,0.064614,0.066876,-0.035646,0.074711,-0.136462,-0.126050,-0.000455,0.010600,-0.005442,0.017169,0.471924,0.783196,0.893628,1.000000,0.834300,0.251585,0.037728,0.035504,0.003536,0.073021
F180_UPB,0.002240,0.041819,0.022061,0.037262,0.012704,0.051452,0.051989,0.055587,0.057821,-0.035752,0.065580,-0.123613,-0.110628,0.000207,0.010329,-0.005096,0.012484,0.391905,0.653359,0.745311,0.834300,1.000000,0.262326,0.041819,0.027976,0.001910,0.060620
NET_LOSS,0.034960,0.032302,-0.012833,0.227814,0.256360,0.251505,0.121409,-0.093724,-0.067655,0.073454,0.042667,-0.035285,-0.059372,0.035476,0.038722,-0.047891,-0.199839,0.193828,0.241907,0.254095,0.251585,0.262326,1.000000,0.032302,0.219981,0.552583,0.249841
MI,0.133561,1.000000,0.995749,-0.298038,-0.292861,-0.197468,0.217842,0.033075,0.036750,0.023854,0.123212,-0.322126,-0.314591,0.047708,-0.029594,0.003018,-0.070633,0.029725,0.034846,0.034006,0.037728,0.041819,0.032302,1.000000,-0.184052,0.056244,-0.029246
MP,-0.030128,-0.184052,-0.183874,0.897501,0.833217,0.759897,-0.147977,0.059693,0.081903,0.216698,0.025004,0.094947,0.100681,-0.035263,0.185052,-0.105302,0.011950,0.074598,0.044466,0.040874,0.035504,0.027976,0.219981,-0.184052,1.000000,0.665029,0.787576
Amount Received,0.115691,0.056244,0.054569,0.667019,0.579804,0.634463,0.135483,0.116841,0.143781,0.179006,0.050492,0.025639,0.028180,-0.024985,0.146900,-0.087924,0.054203,0.058756,0.011919,0.006207,0.003536,0.001910,0.552583,0.056244,0.665029,1.000000,0.703557
Expected Amount Receivable,-0.031281,-0.029246,-0.030078,0.930841,0.767339,0.918345,0.417692,0.257735,0.281226,0.158749,0.114546,0.037078,0.029467,-0.034078,0.190175,-0.111823,0.186020,0.117856,0.087419,0.081469,0.073021,0.060620,0.249841,-0.029246,0.787576,0.703557,1.000000

In [16]:
def func(x):
    if x <= 450:
        return "0-450"
    elif x<= 490:
        return "450-490"
    elif x <= 530:
        return "490-530"
    elif x <= 570:
        return "530-570"
    elif x <= 610:
        return "570-610"
    elif x <= 650:
        return "610-650"
    elif x <= 690:
        return "650-690"
    elif x <= 730:
        return "690-730"
    elif x <= 770:
        return "730-770"
    elif x <= 810:
        return "770-810"
    elif x <= 850:
        return "810-850"
    elif x > 850:
        return ">850"
    else:
        return 'NaN'
Final_Data['cscore_B'] = Final_Data['CSCORE_B'].apply(func)
Final_Data['cscore_C'] = Final_Data['CSCORE_C'].apply(func)
Final_Data

,LOAN_ID,LAST_DTE,LAST_STAT,ORIG_CHN,SELLER,SERVICER,orig_rt,LAST_RT,orig_amt,ORIG_VAL,LAST_UPB,orig_trm,ORIG_DTE,FRST_DTE,oltv,ocltv,num_bo,dti,CSCORE_B,CSCORE_C,FTHB_FLG,purpose,PROP_TYP,NUM_UNIT,occ_stat,state,msa,zip_3,mi_pct,F30_DTE,F30_UPB,F60_DTE,F60_UPB,F90_DTE,F90_UPB,F120_DTE,F120_UPB,F180_DTE,F180_UPB,LPI_DTE,FCC_DTE,NET_LOSS,relo_flg,MI,MP,Amount Received,Expected Amount Receivable,cscore_B,cscore_C
0,100538106880,2002-08-01,P,C,Other,"Citimortgage Asset Management, Inc.",7.750,7.750,60000,109090.91,54366.18,180,2000-02-01,2000-04-01,55,55,1.0,30.0,782.0,NaN,N,C,SF,1,P,NE,36540,680.0,NaN,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.0,NaN,NaN,NaN,N,0.006458,564.765452,70179.612651,101657.781328,770-810,NaN
1,100816784225,2002-09-01,P,B,Other,Other,8.000,8.000,94000,104444.44,91424.13,360,2000-01-01,2000-03-01,90,90,2.0,21.0,680.0,733.0,N,P,SF,1,P,NE,30700,685.0,25.0,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.0,NaN,NaN,NaN,N,0.006667,689.738699,112116.290983,248305.931801,650-690,730-770
2,101418327775,2001-12-01,P,R,Other,NaN,8.250,8.250,71000,94666.67,66470.38,180,2000-03-01,2000-05-01,75,75,2.0,28.0,680.0,676.0,N,C,SF,1,P,NE,36540,681.0,NaN,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.0,NaN,NaN,NaN,N,0.006875,688.799654,79557.573427,123983.937726,650-690,650-690
3,101451865711,2001-04-01,P,C,"Jpmorgan Chase Bank, Na",NaN,7.875,7.875,76000,85393.26,75142.62,360,1999-12-01,2000-02-01,89,89,1.0,37.0,759.0,NaN,N,P,SF,1,P,NE,30700,685.0,17.0,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.0,NaN,NaN,NaN,N,0.006562,551.052738,82857.358333,198378.985694,730-770,NaN
4,102292538957,2002-08-01,P,C,"Jpmorgan Chase Bank, Na","Jpmorgan Chase Bank, Na",7.750,7.750,50000,68493.15,48878.37,360,2000-01-01,2000-03-01,73,73,1.0,22.0,781.0,NaN,N,P,SF,1,P,NE,0,689.0,NaN,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.0,NaN,NaN,NaN,N,0.006458,358.206123,59266.347561,128954.204201,770-810,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181264,188090397790,2019-12-01,L,R,"Wells Fargo Bank, N.A.","Wells Fargo Bank, N.A.",4.750,4.750,107000,133750.00,98594.63,360,2014-12-01,2015-02-01,80,80,2.0,37.0,677.0,716.0,N,R,SF,1,P,NE,36540,681.0,NaN,2015-12-01,105826.95,2016-10-01,104543.96,2016-12-01,104398.57,2017-02-01,104252.60,2017-04-01,104252.6,NaN,NaN,NaN,N,0.003958,558.162650,32373.433703,200938.554021,650-690,690-730
181292,194333993375,2020-09-01,L,C,Suntrust Mortgage Inc.,Other,3.875,3.875,45000,64285.71,35808.30,180,2015-01-01,2015-03-01,70,70,1.0,38.0,660.0,NaN,N,R,SF,1,P,NE,0,684.0,NaN,2015-08-01,0.00,2015-09-01,44070.33,2017-03-01,40794.95,2019-01-01,36493.05,NaN,0.0,NaN,NaN,NaN,N,0.003229,330.047785,21783.153800,59408.601273,650-690,NaN
197385,453654171844,2019-12-01,L,R,"Wells Fargo Bank, N.A.","Wells Fargo Bank, N.A.",4.625,4.625,67000,113559.32,64334.44,360,2015-11-01,2016-01-01,59,80,1.0,35.0,698.0,NaN,N,C,SF,1,P,NE,30700,685.0,NaN,2016-07-01,0.00,2017-11-01,65101.61,2018-11-01,64052.31,NaN,0.00,NaN,0.0,NaN,NaN,NaN,N,0.003854,344.473476,16190.253358,124010.451253,690-730,NaN
228981,929035879195,2019-08-01,L,R,"Nationstar Mortgage, Llc","Nationstar Mortgage, Llc",4.625,4.625,136000,188888.89,131852.53,300,2017-09-01,2017-11-01,72,72,1.0,32.0,660.0,NaN,N,R,SF,1,P,NE,0,688.0,NaN,2017-11-01,0.00,2018-04-01,135127.89,2018-10-01,134657.71,NaN,0.00,NaN,0.0,NaN,NaN,NaN,N,0.003854,765.613732,16077.888370,229684.119571,650-690,NaN
235373,934696123434,2019-12-01,L,C,"Wells Fargo Bank, N.A.","Wells Fargo Bank, N.A.",4.625,4.625,115000,118556.70,112141.43,360,2018-02-01,2018-04-01,97,97,2.0,41.0,705.0,707.0,Y,P,SF,1,P,NE,36540,681.0,25.0,2018-06-01,0.00,2018-07-01,0.00,2018-08-01,0.00,2018-09-01,0.00,NaN,0.0,NaN,NaN,NaN,N,0.003854,591.260443,11825.208867,212853.759614,690-730,690-730

In [17]:
#plot = merge_1[['orig_rt','oltv','dti','CSCORE_B','CSCORE_C','Net Profit']]
#sns.pairplot(df, kind="scatter")
#plt.show()

In [18]:
#plt.scatter(merge_1['dti'], merge_1['Net Profit'])
#plt.show()

In [19]:
Final_Data.to_csv('Final Data.csv',index=False)

In [23]:
#corr = Final_Data.corr()

In [27]:
#corr.to_csv('Corr.csv',index=True)